
.App {
  padding: 30px;
}
.main {
  display: table;
}
.row {
  display: table-row;
}
.cell {
  display: table-cell;
  height: 40px;
  width: 40px;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  border: 1px solid #cecece;
}
.cell.operator {
  background: orange;
}
.input {
  height: 40px;
  width: 162px;
}
.input:focus {
  outline: none;
}